body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.header {
  padding: 20px;
  background: black;
  color: white;
  text-align: center;
  font-size: 20px;
}

.page {
  padding: 40px;
  text-align: center;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 20px;
  margin: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover {
  opacity: 0.8;
}

.input {
  display: block;
  margin: 10px auto;
  padding: 12px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.link {
  margin-top: 15px;
  background: transparent;
  color: blue;
  border: none;
  cursor: pointer;
}
